# Data Cleaning & Pre-processing
![data-cleaning-in-python](https://daxg39y63pxwu.cloudfront.net/images/blog/data-cleaning-in-python/data-cleaning-in-python.png)

First step of an analytics project is to clean the datasets and pre-processed it to make it suitable for use by analytical model and visualization

In [ ]:
# install dependencies
# Run the following code in your terminal if you don't have the dependency installed:
    # pip install -U imbalanced-learn --user
    # pip install statsmodels
    # pip install -U scikit-learn
    # pip install nltk==3.5

# Or run in notebook:    
# %pip install -U imbalanced-learn 
# %pip install statsmodels
# %pip install -U scikit-learn
# %pip install nltk==3.5

In [1]:
# import basic libraries
import pandas as pd
import numpy as np
import seaborn as sb

References:
- https://www.kaggle.com/code/madz2000/text-classification-using-keras-nb-97-accuracy
- https://realpython.com/nltk-nlp-python/
- https://codeigo.com/python/remove-punctuation-with-nltk
- https://rishabh20118.medium.com/fake-job-posting-detection-and-getting-useful-job-posting-insights-from-the-dataset-e8edf1870831
- https://towardsdatascience.com/fake-job-predictor-a168a315d866

## 1) Import dataset into the notebook

In [2]:
# job_df -> fake_job_postings dataframe
job_df = pd.read_csv('datasets/fake_job_postings.csv')
job_df.head()

,job_id,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
0,1,Marketing Intern,"US, NY, New York",Marketing,NaN,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,NaN,0,1,0,Other,Internship,NaN,NaN,Marketing,0
1,2,Customer Service - Cloud Video Production,"NZ, , Auckland",Success,NaN,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,0
2,3,Commissioning Machinery Assistant (CMA),"US, IA, Wever",NaN,NaN,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,0
3,4,Account Executive - Washington DC,"US, DC, Washington",Sales,NaN,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0
4,5,Bill Review Manager,"US, FL, Fort Worth",NaN,NaN,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0

## 2) Data Cleaning

In [4]:
job_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17880 entries, 0 to 17879
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   job_id               17880 non-null  int64
 1   title                17880 non-null  object
 2   location             17534 non-null  object
 3   department           6333 non-null   object
 4   salary_range         2868 non-null   object
 5   company_profile      14572 non-null  object
 6   description          17879 non-null  object
 7   requirements         15185 non-null  object
 8   benefits             10670 non-null  object
 9   telecommuting        17880 non-null  int64
 10  has_company_logo     17880 non-null  int64
 11  has_questions        17880 non-null  int64
 12  employment_type      14409 non-null  object
 13  required_experience  10830 non-null  object
 14  required_education   9775 non-null   object
 15  industry             12977 non-null  object
 16  function             11425 non-null  object
 17  fraudulent           17880 non-null  int64
dtypes: int64(5), object(13)
memory usage: 2.5+ MB

### **2.1 NA values**

NA values are meaningful as it tells us that the job listing lacks a particular field, which may play a important role in determing a whether a job listing is a scam. Thus, NA values will be **replaced with meaningful values** according to domain knowledge and the values in the dataset.

#### **2.1.1 Columns with NA values**

In [22]:
job_df.isna().sum()

job_id                     0
title                      0
location                 346
department             11547
salary_range           15012
company_profile         3308
description                1
requirements            2695
benefits                7210
telecommuting              0
has_company_logo           0
has_questions              0
employment_type         3471
required_experience     7050
required_education      8105
industry                4903
function                6455
fraudulent                 0
dtype: int64

In [3]:
columnsWithNA = []

def displayNAColumns(df):
    tempColumnsWithNA = []
    # Columns with NA values
    for col in df.isna().any().loc[lambda x: x == True].index:
        columnsWithNA.append(col)
        tempColumnsWithNA.append(col)

    print(f"{len(tempColumnsWithNA)} columns with NA values")
    if len(tempColumnsWithNA):
        print(tempColumnsWithNA)

displayNAColumns(job_df)

12 columns with NA values
['location', 'department', 'salary_range', 'company_profile', 'description', 'requirements', 'benefits', 'employment_type', 'required_experience', 'required_education', 'industry', 'function']

There are 12 columns with NA values.

#### **2.1.2 Replacing NA values**

**2.1.2 (a) `For EDA`, NA values for these columns will be converted as shown below:**

- location -> "Unknown"
- department -> "Unknown"
- salary_range -> "Unknown"
- company_profile -> ""
- description -> ""
- requirements -> ""
- benefits -> "Unknown"
- employment_type -> "Unknown"
- required_experience -> "Not Applicable"
- required_education -> "Not Applicable"
- industry -> "Unknown"
- function -> "Unknown"

In [7]:
job_df_eda = job_df.copy()

In [8]:
job_df_eda['location'] = job_df_eda['location'].fillna("Unknown")
job_df_eda['department'] = job_df_eda['department'].fillna("Unknown")
job_df_eda['salary_range'] = job_df_eda['salary_range'].fillna("Unknown")
job_df_eda['company_profile'] = job_df_eda['company_profile'].fillna(" ")
job_df_eda['description'] = job_df_eda['description'].fillna(" ")
job_df_eda['requirements'] = job_df_eda['requirements'].fillna(" ")
job_df_eda['benefits'] = job_df_eda['benefits'].fillna("Unknown")
job_df_eda['employment_type'] = job_df_eda['employment_type'].fillna("Unknown")
job_df_eda['required_experience'] = job_df_eda['required_experience'].fillna("Not Applicable")
job_df_eda['required_education'] = job_df_eda['required_education'].fillna("Not Applicable")
job_df_eda['industry'] = job_df_eda['industry'].fillna("Unknown")
job_df_eda['function'] = job_df_eda['function'].fillna("Unknown")

In [9]:
print('Number of NA entries: ', job_df_eda.isna().sum().sum())
displayNAColumns(job_df_eda)

Number of NA entries:  0
0 columns with NA values

In [10]:
job_df_eda.isna().sum()

job_id                 0
title                  0
location               0
department             0
salary_range           0
company_profile        0
description            0
requirements           0
benefits               0
telecommuting          0
has_company_logo       0
has_questions          0
employment_type        0
required_experience    0
required_education     0
industry               0
function               0
fraudulent             0
dtype: int64

**2.1.1 (b) `For Modelling`, all NA values will be converted to " " in order to facilitate text mining**

In [4]:
job_df_model = job_df.copy()

In [5]:
for col in columnsWithNA:
  job_df_model[col] = job_df_model[col].fillna("")

In [6]:
displayNAColumns(job_df_model)

0 columns with NA values

### **2.2 Cleaning up continuous variables**

There are no continuous variables to be cleaned. Thus, there are no outliers to be considered for continuous variables.

In [17]:
job_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17880 entries, 0 to 17879
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   job_id               17880 non-null  int64
 1   title                17880 non-null  object
 2   location             17534 non-null  object
 3   department           6333 non-null   object
 4   salary_range         2868 non-null   object
 5   company_profile      14572 non-null  object
 6   description          17879 non-null  object
 7   requirements         15185 non-null  object
 8   benefits             10670 non-null  object
 9   telecommuting        17880 non-null  int64
 10  has_company_logo     17880 non-null  int64
 11  has_questions        17880 non-null  int64
 12  employment_type      14409 non-null  object
 13  required_experience  10830 non-null  object
 14  required_education   9775 non-null   object
 15  industry             12977 non-null  object
 16  function             11425 non-null  object
 17  fraudulent           17880 non-null  int64
dtypes: int64(5), object(13)
memory usage: 2.5+ MB

### **2.3 Cleaning up categorical variables**

In [19]:
for feature in job_df_eda.columns:
  if np.dtype(job_df_eda[feature]) != 'object':
    continue
  print(job_df_eda[feature].value_counts(), end='\n\n')

English Teacher Abroad                                         311
Customer Service Associate                                     146
Graduates: English Teacher Abroad (Conversational)             144
English Teacher Abroad                                          95
Software Engineer                                               86
                                                              ...
West Coast Regional Channel Manager (RCM)                        1
BI Practice Manager                                              1
Community Coordinator- Ambassador Programme                      1
Senior Traffic Engineer                                          1
Project Cost Control Staff Engineer - Cost Control Exp - TX      1
Name: title, Length: 11231, dtype: int64

GB, LND, London          718
US, NY, New York         658
US, CA, San Francisco    472
GR, I, Athens            464
Unknown                  346
                        ...
GB, SFK, Leiston           1
GB, LND, Hammersmith       1
US, WA, Seattle            1
BE                         1
GB, WSX, Chichester        1
Name: location, Length: 3106, dtype: int64

Unknown                       11548
Sales                           551
Engineering                     487
Marketing                       401
Operations                      270
                              ...
Customer Service Rep.             1
I9 Manufacturing (345)            1
Organisational Development        1
DSD                               1
Hospitality                       1
Name: department, Length: 1337, dtype: int64

Unknown          15012
0-0                142
40000-50000         66
30000-40000         55
45000-67000         37
                 ...
15-25                1
60-75                1
300000-325000        1
20-22                1
3700-3800            1
Name: salary_range, Length: 875, dtype: int64

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            3308
We help teachers get safe &amp; secure jobs abroad :)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        726
We Provide Full Time Permanent Positions for many medium to large US companies. We are interested in finding/recruiting high quality candidates in IT, Engineering, Manufacturing and other highly technical and non-technical jobs.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         674
Novitex Enterprise Solutions, formerly Pitney Bowes Management Services, delivers innovative document and communications management solutions that help companies around the world drive business process efficiencies, increase productivity, reduce costs and improve customer satisfaction. For almost 30 years, clients have turned to us to integrate and optimize their enterprise-wide business processes to empower employees, increase productivity and maximize results. As a trusted partner, we continually focus on delivering secure, technology-enabled document and communications solutions that improve our clients' work processes, enhance their customer interactions and drive growth.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 574
Established on the principles that full time education is not for everyone Spectrum Learning is made up of a team of passionate consultants with the drive for putting people who wish to grow themselves through education whilst working into long term and relevant job roles.We also are official re-sellers for The Institute of Recruiters/ Study Course professional courses in HR Practice, In-House Recruitment and Agency RecruitmentIt is our mission to help anyone wishing to pursue an apprenticeship onto the right qualification and into the right job.We work closely with both the candidate and the employer to ensure when the learner is enrolled they are at the start of a long and successful career.We have great relationships with a number of national training providers to ensure we can cover any apprenticeship available.                                                                                                                                                                                                                                                                                                                                                                                  450
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            ...
ISBS Hellas is a modern and growing company developing innovative websites and applications.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   1
Το USEUM (#URL_04ac7232026f06ca6a32948470abce692e6921c271b55005ae682a6dec34e345#) είναι «Το μουσείο τέχνης του κόσμου» και φιλοξενεί περισσότερα από 11,000 έργα από διάσημους καλλιτέχνες σαν τον Ρέμπραντ και τον Ελ Γκρέκο αλλά και από σύγχρονους ανερχόμενους καλλιτέχνες από 96 χώρες ανά τον κόσμο.H USEUM LTD είναι start-up εταιρεία με έδρα στο Λονδίνο, έχει λάβει χρηματοδότηση κι αναπτύσσεται με γοργούς ρυθμούς.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                1
Founded in Athens, Greece in 1995, Relational Technology SA has evolved over the years to an international software developer &amp; integrator with offices in Albania and Romania and a client base all over Europe, Middle East and North Africa. Its strategy is focused on expansion to markets outside Greece such as SE Europe, Middle East and North Africa. The company has an average annual revenue of € 12.000.000 the last three years and employs an average of 130 persons.Relational offers leading IT solutions for Process Automation, Business Process Management, Business Intelligence, Data Warehouse, Data Mining, Data Collection, Management Information Systems and reporting, as well as product/project related services (i.e. requirement analysis, design of architectural and technical solution, installation, configuration, project management and technical support).Relational develops mission critical software assets for Financial Institutions, Government, Retail, Telecoms and SMEs, while in addition represents actively and exclusively a number of International software vendors and their respective product portfolios, namely SAP AG, Informatica SA, Microsoft, BMC Software and UC4.       1
Focus Camera is a family owned and operated nationwide specialty on-line retailer.  Our roots are in a brick-and-mortar retail, operating in the same New York neighborhood location for over 40 years. We have taken our consumer-oriented philosophy that has served us well in our local community, and expanded it to serve customers nationwide.Customer Service is our #1 priority. We make customers; not just sales. Our customers are our investment. “Treat every customer as if they sign your paycheck…because they do.” This has been our credo, and it is for this reason that many of our orders are from repeat customers.We carry a wide range of all brand-name photographic products, including digital cameras and camcorders, digital frames, and photo printers.  In addition, we carry consumer electronics, optics equipment such as binoculars and telescopes, and some kitchen and home appliances.Our prices are very competitive. We sell only top-quality merchandise, and our customer service is second to none. Join our family of satisfied customers, and you will be glad you did. In fact, our best advertisers are our satisfied customers, more than 400,000 strong, and growing daily.                  1
Stories by RELFrom 5,000 feet, we look like a media company. If you look close, our greatest strength is producing video. If you find our sweet spot, we are really into agriculture. If you pin us down, we value quality and work hard to deliver as much as we can. If we had a wish, we would be doing this (with an unlimited budget and no deadlines). If you sum us up, we make stories.Produce the story.Every project starts as an idea and ends as a finished product. Producing starts someplace after “idea” and ends when the client is happy with the finished product. Everything in-between is a variable. Our focus is taking that idea and helping our clients get it to an end product they can be proud of.Let’s get our hands dirty.We believe in hard work, but we also believe in working smart. If we have learned anything in nearly 20 years…you need to have processes, technology and workflows…that can be managed and operated efficiently, that are client friendly and are able handle most anything thrown at them. You will understand it when you see it. The tour is free.                                                                                                                                 1
Name: company_profile, Length: 1710, dtype: int64

Play with kids, get paid for it Love travel? Jobs in Asia$1,500+ USD monthly ($200 Cost of living)Housing provided (Private/Furnished)Airfare ReimbursedExcellent for student loans/credit cardsGabriel Adkins : #URL_ed9094c60184b8a4975333957f05be37e69d3cdb68decc9dd9a4242733cfd7f7##URL_75db76d58f7994c7db24e8998c2fc953ab9a20ea9ac948b217693963f78d2e6b#12 month contract : Apply today                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     379
Play with kids, get paid for it :-)Love travel? Jobs in Asia$1500 USD + monthly ($200 Cost of living)Housing providedAirfare ReimbursedExcellent for student loans/credit cardsGabriel Adkins : #URL_ed9094c60184b8a4975333957f05be37e69d3cdb68decc9dd9a4242733cfd7f7##URL_75db76d58f7994c7db24e8998c2fc953ab9a20ea9ac948b217693963f78d2e6b#                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      66
Play with kids, get paid for it Love travel? Jobs in Asia$1500 USD + monthly ($200 Cost of living)Excellent for student loans/credit cardsHousing provided (Furnished/Private)Airfare ReimbursedRemind us when you wanted to start when applying :-)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              46
The International Broadcaster shall properly complete all daily tasks. These daily tasks include but are not limited to: preparing for assignments (fails not more than once per week); revising video packages (fails not more than twice per week); correcting production errors in stories (fails not more than twice per week); properly creating line-ups and logs (fails not more than once per week).                                                                                                                                                                                                                                                                                                                                                                                                                                                                      33
Play with kids, get paid for it :-)Love travel? Jobs in Asia$1500 USD + monthly ($200 Cost of living)Housing providedAirfare ReimbursedExcellent for student loans/credit cardsGabriel Adkins (#URL_ed9094c60184b8a4975333957f05be37e69d3cdb68decc9dd9a4242733cfd7f7#)#URL_75db76d58f7994c7db24e8998c2fc953ab9a20ea9ac948b217693963f78d2e6b#                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      32

- all the categorical variables are consistent in their values
- there are no missing values

Therefore, no data cleaning is needed for categorical variables. Additionally, one hot encoding is not required for categorical variables to encode them into numeric forms because:

1) The text-based variables will be combined to form text data and text mining will be performed.
2) Categorical variables with 2 levels are already Integer-Encoded.

## 3) Data Preprocessing

In order to utilize `text mining` for the dataset, the dataset needs to be preprocessed in order for use by `analytical models`. In this step, we will process the `job_df_model` dataframe to combine several fields into one `text` column/field which will be used to perform text mining.

### 3.1 Overview of the job_df_model dataframe

In [7]:
job_df_model.head()

,job_id,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
0,1,Marketing Intern,"US, NY, New York",Marketing,,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,,0,1,0,Other,Internship,,,Marketing,0
1,2,Customer Service - Cloud Video Production,"NZ, , Auckland",Success,,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,Full-time,Not Applicable,,Marketing and Advertising,Customer Service,0
2,3,Commissioning Machinery Assistant (CMA),"US, IA, Wever",,,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,,0,1,0,,,,,,0
3,4,Account Executive - Washington DC,"US, DC, Washington",Sales,,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0
4,5,Bill Review Manager,"US, FL, Fort Worth",,,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0

### 3.2 Combining columns into `text` column

In [8]:
columnsToCombine = [
    "title",
    "location",
    "department",
    "salary_range",
    "company_profile",
    "description",
    "requirements",
    "benefits",
    "employment_type",
    "required_experience",
    "required_education",
    "industry",
    "function"
]

job_df_model["text"] = ""

for col in columnsToCombine:
    job_df_model["text"] = job_df_model["text"] + " " + job_df_model[col]

In [9]:
# See one of the combined 'text'
job_df_model["text"][0]

" Marketing Intern US, NY, New York Marketing  We're Food52, and we've created a groundbreaking and award-winning cooking site. We support, connect, and celebrate home cooks, and give them everything they need in one place.We have a top editorial, business, and engineering team. We're focused on using technology to find new and better ways to connect people around their specific food interests, and to offer them superb, highly curated information about food and cooking. We attract the most talented home cooks and contributors in the country; we also publish well-known professionals like Mario Batali, Gwyneth Paltrow, and Danny Meyer. And we have partnerships with Whole Foods Market and Random House.Food52 has been named the best food website by the James Beard Foundation and IACP, and has been featured in the New York Times, NPR, Pando Daily, TechCrunch, and on the Today Show.We're located in Chelsea, in New York City. Food52, a fast-growing, James Beard Award-winning online food community and crowd-sourced and curated recipe hub, is currently interviewing full- and part-time unpaid interns to work in a small team of editors, executives, and developers in its New York City headquarters.Reproducing and/or repackaging existing Food52 content for a number of partner sites, such as Huffington Post, Yahoo, Buzzfeed, and more in their various content management systemsResearching blogs and websites for the Provisions by Food52 Affiliate ProgramAssisting in day-to-day affiliate program support, such as screening affiliates and assisting in any affiliate inquiriesSupporting with PR &amp; Events when neededHelping with office administrative work, such as filing, mailing, and preparing for meetingsWorking with developers to document bugs and suggest improvements to the siteSupporting the marketing and executive staff Experience with content management systems a major plus (any blogging counts!)Familiar with the Food52 editorial voice and aestheticLoves food, appreciates the importance of home cooking and cooking with the seasonsMeticulous editor, perfectionist, obsessive attention to detail, maddened by typos and broken links, delighted by finding and fixing themCheerful under pressureExcellent communication skillsA+ multi-tasker and juggler of responsibilities big and smallInterested in and engaged with social media like Twitter, Facebook, and PinterestLoves problem-solving and collaborating to drive Food52 forwardThinks big picture but pitches in on the nitty gritty of running a small company (dishes, shopping, administrative support)Comfortable with the realities of working for a startup: being on call on evenings and weekends, and working long hours  Other Internship   Marketing"

### 3.3 Dropping redundant columns

#### 3.3.1 For `job_df_eda`

In [11]:
job_df_eda.drop(["job_id"], axis=1, inplace=True)

In [12]:
job_df_eda.head()

,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
0,Marketing Intern,"US, NY, New York",Marketing,Unknown,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,Unknown,0,1,0,Other,Internship,Not Applicable,Unknown,Marketing,0
1,Customer Service - Cloud Video Production,"NZ, , Auckland",Success,Unknown,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,Full-time,Not Applicable,Not Applicable,Marketing and Advertising,Customer Service,0
2,Commissioning Machinery Assistant (CMA),"US, IA, Wever",Unknown,Unknown,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,Unknown,0,1,0,Unknown,Not Applicable,Not Applicable,Unknown,Unknown,0
3,Account Executive - Washington DC,"US, DC, Washington",Sales,Unknown,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0
4,Bill Review Manager,"US, FL, Fort Worth",Unknown,Unknown,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0

#### 3.3.2 For `job_df_model`

In [10]:
columnsToDrop = columnsToCombine + ["job_id"]

job_df_model.drop(columnsToDrop, axis=1, inplace=True)

In [11]:
job_df_model.head()

,telecommuting,has_company_logo,has_questions,fraudulent,text
0,0,1,0,0,"Marketing Intern US, NY, New York Marketing ..."
1,0,1,0,0,"Customer Service - Cloud Video Production NZ,..."
2,0,1,0,0,"Commissioning Machinery Assistant (CMA) US, I..."
3,0,1,0,0,"Account Executive - Washington DC US, DC, Was..."
4,0,1,1,0,"Bill Review Manager US, FL, Fort Worth Spot..."

### 3.4 Processing `text` column

**Reference:**
- https://realpython.com/nltk-nlp-python/
- https://codeigo.com/python/remove-punctuation-with-nltk

#### 3.4.0 Install Dependencies and Import Library for NLP

**Install `nltk` package if not done so:**

In [150]:
# %pip install nltk==3.5
# import nltk
# nltk.download('punkt')
# nltk.download('stopwords')
# nltk.download('wordnet')
# nltk.download('averaged_perceptron_tagger')

**Import `nltk` library:**

In [12]:
from nltk.tokenize import sent_tokenize, word_tokenize, RegexpTokenizer
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk import pos_tag

#### 3.4.1 Character + Word + Sentence Count

**(a) Adding `character_count` column**

In [13]:
# Adding a new column - character_count
job_df_model["character_count"] = 0

for row in range(len(job_df_model)):
  job_df_model.loc[row, "character_count"] = len(job_df_model.loc[row, "text"])

In [14]:
job_df_model.head()

,telecommuting,has_company_logo,has_questions,fraudulent,text,character_count
0,0,1,0,0,"Marketing Intern US, NY, New York Marketing ...",2720
1,0,1,0,0,"Customer Service - Cloud Video Production NZ,...",6227
2,0,1,0,0,"Commissioning Machinery Assistant (CMA) US, I...",2662
3,0,1,0,0,"Account Executive - Washington DC US, DC, Was...",5558
4,0,1,1,0,"Bill Review Manager US, FL, Fort Worth Spot...",4060

**(b) Adding `word_count` column**

Note: This is an estimate via utilizing tokenizer, and puntuations are removed here

In [15]:
# Create a tokenize based on a regular expression.
# "[a-zA-Z0-9]+" captures all alphanumeric characters
tokenizer = RegexpTokenizer(r"[a-zA-Z0-9]+")

# Adding a new column - word_count
job_df_model["word_count"] = 0

for row in range(len(job_df_model)):
  job_df_model.loc[row, "word_count"] = len(tokenizer.tokenize(job_df_model.loc[row, "text"]))

In [16]:
job_df_model.head()

,telecommuting,has_company_logo,has_questions,fraudulent,text,character_count,word_count
0,0,1,0,0,"Marketing Intern US, NY, New York Marketing ...",2720,411
1,0,1,0,0,"Customer Service - Cloud Video Production NZ,...",6227,944
2,0,1,0,0,"Commissioning Machinery Assistant (CMA) US, I...",2662,387
3,0,1,0,0,"Account Executive - Washington DC US, DC, Was...",5558,752
4,0,1,1,0,"Bill Review Manager US, FL, Fort Worth Spot...",4060,510

**(c) Adding `sentence_count` column**

In [17]:
# Adding a new column - sentence_count
job_df_model["sentence_count"] = 0

for row in range(len(job_df_model)):
  job_df_model.loc[row, "sentence_count"] = len(sent_tokenize(job_df_model.loc[row, "text"]))

In [18]:
job_df_model.head()

,telecommuting,has_company_logo,has_questions,fraudulent,text,character_count,word_count,sentence_count
0,0,1,0,0,"Marketing Intern US, NY, New York Marketing ...",2720,411,7
1,0,1,0,0,"Customer Service - Cloud Video Production NZ,...",6227,944,25
2,0,1,0,0,"Commissioning Machinery Assistant (CMA) US, I...",2662,387,8
3,0,1,0,0,"Account Executive - Washington DC US, DC, Was...",5558,752,9
4,0,1,1,0,"Bill Review Manager US, FL, Fort Worth Spot...",4060,510,16

#### 3.4.2 Tokenizing

Note: Punctuations are removed here too.

> By tokenizing, you can conveniently split up text by word or by sentence. This will allow you to work with smaller pieces of text that are still relatively coherent and meaningful even outside of the context of the rest of the text. It’s your first step in turning unstructured data into structured data, which is easier to analyze.

In [19]:
# Create a tokenize based on a regular expression.
# "[a-zA-Z0-9]+" captures all alphanumeric characters
tokenizer = RegexpTokenizer(r"[a-zA-Z0-9]+")

# Creating tokens & Adding a new column - tokens
job_df_model["tokens"] = job_df_model.apply(lambda row: tokenizer.tokenize(row["text"]), axis=1)

In [20]:
job_df_model.head()

,telecommuting,has_company_logo,has_questions,fraudulent,text,character_count,word_count,sentence_count,tokens
0,0,1,0,0,"Marketing Intern US, NY, New York Marketing ...",2720,411,7,"[Marketing, Intern, US, NY, New, York, Marketi..."
1,0,1,0,0,"Customer Service - Cloud Video Production NZ,...",6227,944,25,"[Customer, Service, Cloud, Video, Production, ..."
2,0,1,0,0,"Commissioning Machinery Assistant (CMA) US, I...",2662,387,8,"[Commissioning, Machinery, Assistant, CMA, US,..."
3,0,1,0,0,"Account Executive - Washington DC US, DC, Was...",5558,752,9,"[Account, Executive, Washington, DC, US, DC, W..."
4,0,1,1,0,"Bill Review Manager US, FL, Fort Worth Spot...",4060,510,16,"[Bill, Review, Manager, US, FL, Fort, Worth, S..."

#### 3.4.3 Filtering Stop Words

> Stop words are words that you want to ignore, so you filter them out of your text when you’re processing it. Very common words like 'in', 'is', and 'an' are often used as stop words since they don’t add a lot of meaning to a text in and of themselves.

In [21]:
from nltk.corpus import stopwords

# Generating English Stopwords
stop_words = set(stopwords.words("english"))

# Removing Stopwords & Adding a new column - tokens_without_stopwords
job_df_model["tokens_without_stopwords"] = job_df_model.apply(lambda row: [word for word in row["tokens"] if word.casefold() not in stop_words], axis=1)

In [22]:
job_df_model.head()

,telecommuting,has_company_logo,has_questions,fraudulent,text,character_count,word_count,sentence_count,tokens,tokens_without_stopwords
0,0,1,0,0,"Marketing Intern US, NY, New York Marketing ...",2720,411,7,"[Marketing, Intern, US, NY, New, York, Marketi...","[Marketing, Intern, US, NY, New, York, Marketi..."
1,0,1,0,0,"Customer Service - Cloud Video Production NZ,...",6227,944,25,"[Customer, Service, Cloud, Video, Production, ...","[Customer, Service, Cloud, Video, Production, ..."
2,0,1,0,0,"Commissioning Machinery Assistant (CMA) US, I...",2662,387,8,"[Commissioning, Machinery, Assistant, CMA, US,...","[Commissioning, Machinery, Assistant, CMA, US,..."
3,0,1,0,0,"Account Executive - Washington DC US, DC, Was...",5558,752,9,"[Account, Executive, Washington, DC, US, DC, W...","[Account, Executive, Washington, DC, US, DC, W..."
4,0,1,1,0,"Bill Review Manager US, FL, Fort Worth Spot...",4060,510,16,"[Bill, Review, Manager, US, FL, Fort, Worth, S...","[Bill, Review, Manager, US, FL, Fort, Worth, S..."

#### 3.4.4 Tagging `tokens_without_stopwords`

> Part of speech is a grammatical term that deals with the roles words play when you use them together in sentences. Tagging parts of speech, or POS tagging, is the task of labeling the words in your text according to their part of speech.

In [23]:
from nltk import pos_tag

# Tagging tokens_without_stopwords & Adding a new column - tokens_tagged
job_df_model["tokens_tagged"] = job_df_model.apply(lambda row: pos_tag(row["tokens_without_stopwords"]), axis=1)

In [24]:
job_df_model.head()

,telecommuting,has_company_logo,has_questions,fraudulent,text,character_count,word_count,sentence_count,tokens,tokens_without_stopwords,tokens_tagged
0,0,1,0,0,"Marketing Intern US, NY, New York Marketing ...",2720,411,7,"[Marketing, Intern, US, NY, New, York, Marketi...","[Marketing, Intern, US, NY, New, York, Marketi...","[(Marketing, VBG), (Intern, NNP), (US, NNP), (..."
1,0,1,0,0,"Customer Service - Cloud Video Production NZ,...",6227,944,25,"[Customer, Service, Cloud, Video, Production, ...","[Customer, Service, Cloud, Video, Production, ...","[(Customer, NNP), (Service, NNP), (Cloud, NNP)..."
2,0,1,0,0,"Commissioning Machinery Assistant (CMA) US, I...",2662,387,8,"[Commissioning, Machinery, Assistant, CMA, US,...","[Commissioning, Machinery, Assistant, CMA, US,...","[(Commissioning, VBG), (Machinery, NNP), (Assi..."
3,0,1,0,0,"Account Executive - Washington DC US, DC, Was...",5558,752,9,"[Account, Executive, Washington, DC, US, DC, W...","[Account, Executive, Washington, DC, US, DC, W...","[(Account, NNP), (Executive, NNP), (Washington..."
4,0,1,1,0,"Bill Review Manager US, FL, Fort Worth Spot...",4060,510,16,"[Bill, Review, Manager, US, FL, Fort, Worth, S...","[Bill, Review, Manager, US, FL, Fort, Worth, S...","[(Bill, NNP), (Review, NNP), (Manager, NNP), (..."

#### 3.4.5 Lemmatizing

> Like stemming, lemmatizing reduces words to their core meaning, but it will give you a complete English word that makes sense on its own instead of just a fragment of a word

Note: Lemmatize based on the token tags

In [25]:
from nltk.stem import WordNetLemmatizer

# Create a lemmatizer to use
lemmatizer = WordNetLemmatizer()


def lemmatizeFunction(tagged_word):
    word, tag = tagged_word[0], tagged_word[1]

    # ADJ, ADV, NOUN, VERB = "a", "r", "n", "v"
    if tag.startswith("VB"):
        return lemmatizer.lemmatize(word, pos="v")
    elif tag.startswith("JJ"):
        return lemmatizer.lemmatize(word, pos="a")
    elif tag.startswith("RB"):
        return lemmatizer.lemmatize(word, pos="r")

    return lemmatizer.lemmatize(word)

# Lemmatizing & Adding a new column - lemma
job_df_model["lemma"] = job_df_model.apply(lambda row: [lemmatizeFunction(tagged_word) for tagged_word in row["tokens_tagged"]], axis=1)

In [26]:
job_df_model.head()

,telecommuting,has_company_logo,has_questions,fraudulent,text,character_count,word_count,sentence_count,tokens,tokens_without_stopwords,tokens_tagged,lemma
0,0,1,0,0,"Marketing Intern US, NY, New York Marketing ...",2720,411,7,"[Marketing, Intern, US, NY, New, York, Marketi...","[Marketing, Intern, US, NY, New, York, Marketi...","[(Marketing, VBG), (Intern, NNP), (US, NNP), (...","[Marketing, Intern, US, NY, New, York, Marketi..."
1,0,1,0,0,"Customer Service - Cloud Video Production NZ,...",6227,944,25,"[Customer, Service, Cloud, Video, Production, ...","[Customer, Service, Cloud, Video, Production, ...","[(Customer, NNP), (Service, NNP), (Cloud, NNP)...","[Customer, Service, Cloud, Video, Production, ..."
2,0,1,0,0,"Commissioning Machinery Assistant (CMA) US, I...",2662,387,8,"[Commissioning, Machinery, Assistant, CMA, US,...","[Commissioning, Machinery, Assistant, CMA, US,...","[(Commissioning, VBG), (Machinery, NNP), (Assi...","[Commissioning, Machinery, Assistant, CMA, US,..."
3,0,1,0,0,"Account Executive - Washington DC US, DC, Was...",5558,752,9,"[Account, Executive, Washington, DC, US, DC, W...","[Account, Executive, Washington, DC, US, DC, W...","[(Account, NNP), (Executive, NNP), (Washington...","[Account, Executive, Washington, DC, US, DC, W..."
4,0,1,1,0,"Bill Review Manager US, FL, Fort Worth Spot...",4060,510,16,"[Bill, Review, Manager, US, FL, Fort, Worth, S...","[Bill, Review, Manager, US, FL, Fort, Worth, S...","[(Bill, NNP), (Review, NNP), (Manager, NNP), (...","[Bill, Review, Manager, US, FL, Fort, Worth, S..."

#### 3.4.6 Converting `lemma` into `processed_text` column

In [29]:
# Converting lemmas into a new column - processed_text
job_df_model["processed_text"] = job_df_model.apply(lambda row: " ".join(row["lemma"]), axis=1)

In [30]:
job_df_model.head()

,telecommuting,has_company_logo,has_questions,fraudulent,text,character_count,word_count,sentence_count,tokens,tokens_without_stopwords,tokens_tagged,lemma,processed_text
0,0,1,0,0,"Marketing Intern US, NY, New York Marketing ...",2720,411,7,"[Marketing, Intern, US, NY, New, York, Marketi...","[Marketing, Intern, US, NY, New, York, Marketi...","[(Marketing, VBG), (Intern, NNP), (US, NNP), (...","[Marketing, Intern, US, NY, New, York, Marketi...",Marketing Intern US NY New York Marketing Food...
1,0,1,0,0,"Customer Service - Cloud Video Production NZ,...",6227,944,25,"[Customer, Service, Cloud, Video, Production, ...","[Customer, Service, Cloud, Video, Production, ...","[(Customer, NNP), (Service, NNP), (Cloud, NNP)...","[Customer, Service, Cloud, Video, Production, ...",Customer Service Cloud Video Production NZ Auc...
2,0,1,0,0,"Commissioning Machinery Assistant (CMA) US, I...",2662,387,8,"[Commissioning, Machinery, Assistant, CMA, US,...","[Commissioning, Machinery, Assistant, CMA, US,...","[(Commissioning, VBG), (Machinery, NNP), (Assi...","[Commissioning, Machinery, Assistant, CMA, US,...",Commissioning Machinery Assistant CMA US IA We...
3,0,1,0,0,"Account Executive - Washington DC US, DC, Was...",5558,752,9,"[Account, Executive, Washington, DC, US, DC, W...","[Account, Executive, Washington, DC, US, DC, W...","[(Account, NNP), (Executive, NNP), (Washington...","[Account, Executive, Washington, DC, US, DC, W...",Account Executive Washington DC US DC Washingt...
4,0,1,1,0,"Bill Review Manager US, FL, Fort Worth Spot...",4060,510,16,"[Bill, Review, Manager, US, FL, Fort, Worth, S...","[Bill, Review, Manager, US, FL, Fort, Worth, S...","[(Bill, NNP), (Review, NNP), (Manager, NNP), (...","[Bill, Review, Manager, US, FL, Fort, Worth, S...",Bill Review Manager US FL Fort Worth SpotSourc...

#### 3.4.6 Removing intermediate columns created

In [31]:
job_df_model.drop(["text", "tokens", "tokens_without_stopwords", "tokens_tagged"], axis=1, inplace=True)

In [32]:
job_df_model.head()

,telecommuting,has_company_logo,has_questions,fraudulent,character_count,word_count,sentence_count,lemma,processed_text
0,0,1,0,0,2720,411,7,"[Marketing, Intern, US, NY, New, York, Marketi...",Marketing Intern US NY New York Marketing Food...
1,0,1,0,0,6227,944,25,"[Customer, Service, Cloud, Video, Production, ...",Customer Service Cloud Video Production NZ Auc...
2,0,1,0,0,2662,387,8,"[Commissioning, Machinery, Assistant, CMA, US,...",Commissioning Machinery Assistant CMA US IA We...
3,0,1,0,0,5558,752,9,"[Account, Executive, Washington, DC, US, DC, W...",Account Executive Washington DC US DC Washingt...
4,0,1,1,0,4060,510,16,"[Bill, Review, Manager, US, FL, Fort, Worth, S...",Bill Review Manager US FL Fort Worth SpotSourc...

## 4) Export generated dataset

- `fake_job_postings_eda.csv` is a dataset for EDA and has all its NA values replaced with something meaningful
- `fake_job_postings_model.csv` is a dataset for modelling and has a new column `text` that combines several of the text-related other columns, as well as new columns generated after processing the `text` column with NLP.

In [33]:
job_df_eda.to_csv('datasets/fake_job_postings_eda.csv', index=False)
job_df_model.to_csv('datasets/fake_job_postings_model.csv', index=False)

## 5) Overview of datasets created from this notebook

Dataset created from this notebook:

    .
    ├── fake_job_postings.csv       # original dataset
    |   ├── fake_job_postings_eda.csv        # for EDA and visualization
    |   └── fake_job_postings_model.csv        # for analytical models (Combined columns + NLP related columns)
    └──|